/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    } */

body {
    background: rgb(68, 125, 199);
    color: white;
    font: normal 'Comic Sans' 18pt
}


div {
    display: flex;
}

#teste {
    width: 100px;
    height: 100px;
    background-color: green;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
